<div class="header">
  <div class="header-image"><img src="assets/images/yellowdrink.png" alt="yellow"></div>
  <div class="header-image"><img src="assets/images/pinkdrink.jpg" alt="pink"></div>
  <div class="header-image"><img src="assets/images/yellowdrink.png" alt="yellow"></div>
  <div class="header-text">WELCOME TO THE COCKTAILS WORLD</div>
  <div class="header-image"><img src="assets/images/yellowdrink.png" alt="yellow"></div>
  <div class="header-image"><img src="assets/images/pinkdrink.jpg" alt="pink"></div>
  <div class="header-image"><img src="assets/images/yellowdrink.png" alt="yellow"></div>
</div>
