.title {
    text-decoration: underline;
     text-align: center;
}

.ingree {
    text-decoration: underline;
    text-align: left;
}


.column-1 {
    float: right;
    width: 50.33%;
}

.column-0 {
    float: center;
    width: 15.33%;
}
.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }